@font-face {
  font-family: Poppins-ExtraLight;
  src: url(../Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: Poppins-ThinItalic;
  src: url(../Poppins/Poppins-ThinItalic.ttf);
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: Poppins-Thin;
  src: url(../Poppins/Poppins-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  /* width: 5px; */
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2196c3; 
}
html,
body {
  scroll-behavior: smooth;
}
body {
  /* position: relative !important; */
  width: 100% !important;
  background-color: #3d4152;
  overflow: hidden !important;
  /* overflow-y: scroll; */
  max-height: 100vh !important;
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 250px;
  background-color: #ffff;
  /* border-right: 1px solid #2196f3; */
  border-right: 1px solid rgba(0,0,0,.125);
  transition: 0.5s;
}
.navigation.open {
  /* width: 250px; */
  width: 75px;
}
.navigation .company {
  position: absolute;
  top: 0;
  width: 100%;
  height: 170px;
  outline: none;
  /* background-color: aqua; */
  /* border-bottom: 1px solid #2196f3; */
  border-bottom: 1px solid rgba(0,0,0,.125);
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.navigation .company .iconCompany {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.navigation .company .companyName {
  width: 250px;
  height: 70px;
  position: absolute;
  top: 100px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.navigation .company .iconCompany .img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0 1px 10px #2196f3;
}
.navigation .company .companyName p {
  position: absolute;
  text-align: center;
  color: #333;
  text-shadow: 0 1px 10px #2196f3;
  font-size: 1.5rem;
  font-family: Poppins-ExtraBold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.navigation.open .company .iconCompany {
  height: 170px;
}
.navigation.open .company .companyName p {
  opacity: 0;
  visibility: hidden;
}
.navigation ul.firstUl {
  position: absolute;
  margin: 0;
  padding: 5px 0 20px 0;
  direction: rtl;
  background-color: #fff;
  top: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
  width: 250px;
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 600;
  max-height: calc(100% - 180px);
  background-color: transparent;
  transition: 0.5s;
  /* overflow: hidden; */
  /* max-height: calc(100% - 180px); */
}
.navigation ul.firstUl li {
  direction: ltr;
}
.navigation.open ul.firstUl {
  width: calc(75px + 30px);
}
.navigation ul.firstUl li:hover a .icon,
.navigation ul.firstUl li:hover a .text,
.navigation ul.firstUl li.dropDown ul li:hover a .icon-drop,
.navigation ul.firstUl li.dropDown ul li:hover a .text-drop {
  color: var(--clr);
}

.navigation ul.firstUl li {
  list-style: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  transition: 0.5s;
}
.navigation ul.firstUl li.active {
  transform: translateX(20px);
}
.navigation.open ul.firstUl li.active {
  transform: translateX(30px);
}
.navigation ul.firstUl li a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  font-family: Poppins-ExtraLight;
}
.navigation ul.firstUl li a .icon,
ul.firstUl li ul li a .icon-drop {
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 60px;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 1.75em;
  color: #222;
}
.navigation ul.firstUl li.active a .icon {
  color: #fff;
  background-color: var(--clr);
}
.navigation ul.firstUl li a .icon::before,
ul.firstUl li ul li a .icon-drop::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--clr);
  filter: blur(7px);
  opacity: 0;
  z-index: -5;
  transition: 0.5s;
}
ul.firstUl li ul li a .icon-drop::before {
  border-radius: 50%;
}
.navigation ul.firstUl li.active a .icon::before {
  opacity: 0.5;
}
.navigation ul.firstUl li a .text,
ul.firstUl li ul li a .text-drop {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.navigation.open ul.firstUl li a .text,
.navigation.open ul.firstUl li ul li a .text-drop {
  opacity: 0;
  visibility: hidden;
}
.navigation ul.firstUl li.active a .text {
  text-shadow: 0 1px 10px var(--clr);
  color: var(--clr);
}
.navigation ul.firstUl li.dropDown.activeDropDown a .icon {
  color: #fff;
  background-color: var(--clr);
}
.navigation ul.firstUl li.dropDown.activeDropDown a .text {
  color: var(--clr);
  text-shadow: 0 1px 10px var(--clr);
}
.navigation ul.firstUl li a .keyUp {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.open ul.firstUl li ul li a .keyUp {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.navigation ul.firstUl li:hover a .keyUp {
  -ms-transform: rotate(20deg);
  transform: rotate(-180deg);
}
.navigation ul.firstUl li.dropDown.activeDropDown a .keyUp {
  -ms-transform: rotate(20deg);
  transform: rotate(-180deg);
}
ul.firstUl li ul li a .icon-drop {
  border-radius: 50%;
  font-size: 1.5em;
}
ul.firstUl li ul li a {
  list-style: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  transition: 0.5s;
}
.navigation ul.firstUl li.dropDown {
  height: auto;
}
.navigation.open ul.firstUl li ul li,
.navigation.open ul.firstUl li ul li a {
  padding: 0;
  margin: 0;
}
.navigation ul.firstUl li ul li,
.navigation ul.firstUl li ul li a {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}
.navigation ul.firstUl li ul li a {
  display: none;
}
.navigation ul.firstUl li.dropDown.activeDropDown ul li.show-drop-down a {
  display: flex;
}
.navigation ul.firstUl li.dropDown.activeDropDown ul li.show-drop-down,
.navigation ul.firstUl li.dropDown.activeDropDown ul li.show-drop-down a {
  max-height: 60px;
  opacity: 1;
  visibility: visible;
}
.navigation
  ul.firstUl
  li.dropDown.activeDropDown
  ul
  li.show-drop-down.active
  a
  .text-drop {
  text-shadow: 0 1px 10px var(--clr);
  color: var(--clr);
}
.navigation
  ul.firstUl
  li.dropDown.activeDropDown
  ul
  li.show-drop-down.active
  a
  .icon-drop {
  color: #fff;
  font-size: 1.3em;
  background-color: var(--clr);
}
.navigation
  ul.firstUl
  li.dropDown.activeDropDown
  ul
  li.show-drop-down.active
  a
  .icon-drop::before {
  opacity: 0.5;
}

/* ::content */

.content {
  width: calc(100% - 250px);
  /* max-height: 100vh; */
  /* height: 100vh; */
  height: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 250px;
  /* right: 0px; */
  background-color: antiquewhite;
  /* z-index: 100; */
  transition: 0.5s;
}
.content.open {
  width: calc(100% - 75px);
  left: 75px;
  /* right: 75px; */
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  /* border-bottom: 1px solid #2196f3; */
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.content .menuToggle {
  position: absolute;
  top: 0;
  left: 0px;
  width: 75px;
  z-index: 10;
  height: 100%;
  background-color: #fff;
  /* border-right: 1px solid #2196f3; */
  border-right: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 23px;
  transition: 0.5s;
}
.content .menuToggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transform: translateY(0px) rotate(45deg);
  transition: 0.5s;
}
.content.open .menuToggle::before {
  transform: translateY(-8px);
}
.content .menuToggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transform: translateY(0px) rotate(-45deg);
  transition: 0.5s;
  box-shadow: 0 0px 0 #fff;
}
.content.open .menuToggle::after {
  transform: translateY(8px);
  box-shadow: 0 -8px 0 #333;
}






.content .info{
  box-sizing: border-box;
  width: 100%;
  max-height: 40px;
  height: 40px;
  font-family:Poppins-ExtraBold;
  /* border-bottom: 1px solid #2196f3; */
  border-bottom: 1px solid rgba(0,0,0,.125);
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  transition: 0.5s;
}
.content .middle {
  box-sizing: border-box;
  padding: 20px 22px 0 22px;
  max-width: 100%;
  width: 100%;
  max-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  /* overflow: scroll; */
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #F3F3F3;
  transition: 0.5s;
}
.middle-content {
  /* border-right: 1px solid #2196f3; */
  /* border-left: 1px solid #2196f3; */
  font-family: Poppins-Thin;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border:1px solid rgba(0,0,0,.125);
}
ol, ul {
  padding-left: 0rem;
}

.logout{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #e9ecef;
  text-align: end;
}

.info{
  text-align: center;
  line-height: 40px;
}
/* media screen */

@media only screen and (max-width: 768px) {
  .navigation ul.firstUl li a .icon,
   ul.firstUl li ul li a .icon-drop{
    min-width: 50px;
    height: 50px;
    line-height: 50px;
     font-size: 1.2em;
   }
   .navigation ul.firstUl li.dropDown.activeDropDown ul li.show-drop-down.active a .icon-drop {
    font-size: 1em;
}
ul.firstUl li ul li a .icon-drop {
  font-size: 1em;
}
  .navigation {
    background-color: transparent;
    border: none;
  }
  .content {
    top: calc(35vh / 3);
    width: 100%;
    left: 72%;
    max-height: 70vh;
    height: 70vh;
    box-shadow: -13px 23px 2px 5px rgba(29, 28, 28, 0.15),-28px 40px 2px 5px rgba(29, 28, 28, 0.125);
    /* right: -72%; */
  }
  .content .middle {
    max-height: 60vh;
    height: 60vh;
  }
  .navigation .company {
    border: none;
  }
  .navigation .company .companyName p {
    color: #fff;
  }
  .navigation ul.firstUl li a .text,
.navigation ul.firstUl li a .icon,
.navigation ul.firstUl li ul li a .text-drop,
.navigation ul.firstUl li ul li a .icon-drop {
  color: white;
}


/* content go right animation */










.navigation{
  left: -100%;
}
.content{
  width: 100%;
  top: 0;
  left: 0;
}
.content .middle{
  height: 100vh;
  max-height: 100vh;
}
.menuToggle{
  border-radius: 0;
}
.navigation.open{
  left: 0%;
  width: 250px;
}
.content.open{
  top: calc(35vh / 3);
  width: 100%;
  left: 72%;
  max-height: calc(100px + 60vh);
  height: calc(100px + 60vh);
  box-shadow: -13px 23px 2px 5px rgba(29, 28, 28, 0.15),-28px 40px 2px 5px rgba(29, 28, 28, 0.125);
}
.content.open .middle {
  max-height: 60vh;
  height: 60vh;
}
.navigation.open .company .iconCompany {
  height: 100px;
}
.navigation.open .company .companyName p {
  opacity: 1;
  visibility: visible;
}
.navigation.open ul.firstUl li a .text,
.navigation.open ul.firstUl li ul li a .text-drop {
  opacity: 1;
  visibility: visible;
}
.navigation.open ul.firstUl {
  width: calc(250px + 30px);
}
.navigation.open ul.firstUl li.active {
  transform: translateX(30px);
}
.navigation.open ul.firstUl li ul li a .keyUp {
  display: block;
  visibility: visible;
  opacity: 1;
}
.content{
  box-shadow: -10px 23px 2px 5px rgba(29, 28, 28, 0),-23px 38px 2px 5px rgba(29, 28, 28, 0);
}
.content.open, .content.open .top, .content.open .menuToggle{
  border-top-left-radius: 15px ;
}
.content.open, .content.open .middle{
  border-bottom-left-radius: 15px;
}
.content, .top, .menuToggle{
  border-top-left-radius: 0 ;
}
.content, .middle{
  border-bottom-left-radius: 0px;
}
.content.open .menuToggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transform: translateY(0px) rotate(45deg);
  transition: 0.5s;
}
.content .menuToggle::before {
  transform: translateY(-8px);
}
.content.open .menuToggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transform: translateY(0px) rotate(-45deg);
  transition: 0.5s;
  box-shadow: 0 0px 0 #fff;
}
.content .menuToggle::after {
  transform: translateY(8px);
  box-shadow: 0 -8px 0 #333;
}
.content .middle{
  padding: 0;
}
.middle-content {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}













/* .navigation.open{
  left: -60%;
}
.content.open{
  width: 100%;
  top: 0;
  left: 0;
  /* right: 0; */
}
/* .content.open .middle{
  height: 100vh;
  max-height: 100vh;
} */ 
/* .content.open, .content.open .top, .content.open .menuToggle{
  border-top-left-radius: 0px ;
}
.content.open, .content.open .middle{
  border-bottom-left-radius: 0px;
}
.content, .top, .menuToggle{
  border-top-left-radius: 15px ;
}
.content, .middle{
  border-bottom-left-radius: 15px;
} */
/* .content::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 71.8vh;
  top: 25px;
  left: -17px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fff;
  opacity: 0.1;
  z-index: -10;
  transition: 0.2s;
}
.content::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 70.3vh;
  top: 50px;
  left: -34px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fff;
  opacity: 0.03;
  z-index: -11;
  transition: 0.2s;
} */
/* .content.open::after,
.content.open::before{
  visibility: hidden;
  opacity: 0;
} */
/* .content.open{
  box-shadow: -10px 23px 2px 5px rgba(29, 28, 28, 0),-23px 38px 2px 5px rgba(29, 28, 28, 0);
} */
@media only screen and (max-width: 413px){
  .content.open {
    left: 82%;
    /* right: -68%; */
  }
}
@media only screen and (max-width: 375px){
  .content.open {
    left: 81%;
    /* right: -78%; */
  }
}
